table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}

th {
    background-color: var(--light-gray);
}

.show-table {
    display: table;
}

.hidden {
    display: none !important;
}

.show-flex {
    display: flex;
}

.table-word-paar-hovered {
    background-color: var(--table-hover-col);
}



.table-hover {
    background: var(--table-col);
}

.main__new-word-paar:hover .table-hover {
    background: var(--table-hover-col);
}

.main__table-btn-box {
    background: var(--table-col);
}